.icon-text-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-text-label > :not(:last-child) {
    margin-right: 1rem;
}

@media screen and (max-width: 500px) {
    .icon-text-label {
        justify-content: center;
    }
    .icon-text-label__text {
        display: none;
    }

    .icon-text-label__text--show-always {
        display: block;
    }
}
