.sidebar {
    display: flex;
    flex-direction: column;
    /* padding: 10rem 0rem; */
    min-width: max-content;
    /* height: 100%; */
    align-items: stretch;
    /* border: 1px solid var(--divider-color); */
    transition: all 1s ease;
    /* background-image: linear-gradient(to right bottom, var(--default-primary-color), var(--light-primary-color)); */
}

.sidebar__title {
    color: var(--secondary-text-color);
    
    font-size: 1.8rem;
    padding: 1rem 2rem;
    /* border-bottom: 1px solid var(--divider-color); */
}

.sidebar__item {
    padding: 2rem;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 1.6rem;
    
}

/* .sidebar__item:hover {
    background-color: var(--dark-primary-color);
} */

.sidebar__item--active, .sidebar__item:hover {
    background-color: var(--dark-primary-color);
    color: white;
}
