.sidebar {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    align-items: stretch;
    transition: all 1s ease;
}

.sidebar__title {
    color: var(--secondary-text-color);
    font-size: 1.8rem;
    padding: 1rem 2rem;
}

@media screen and (max-width: 600px) {
    .sidebar {
        flex-direction: row;
        justify-content: space-between;
    }

    .sidebar > * {
        flex: 1;
    }

    .sidebar__title {
        display: none;
    }
}




