
.dialog {
    display: flex;
    flex-direction: column;
    width: 30rem;
    color: var(--secondary-text-color);
}

.dialog-header {
    font-family: serif;
    font-size: 2.2rem;
    text-transform: capitalize;
    padding: .5rem;
    margin: 0;
    border-bottom: thin solid var(--divider-color);
}

.dialog-message {
    margin: 0;
    padding: 4rem;
    line-height: 1;
    font-size: 1.8rem;
    word-wrap: normal;
}

.dialog-buttons {
    align-self: flex-end;
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 3px;
}

.dialog-button {
    color: var(--secondary-text-color);
    background-color: white;
    border: thin solid var(--divider-color);
    border-radius: 5px;
}

.dialog-button:hover {
    /* color: white; */
    background-color: var(--light-hover-color);
}

.yes-button:hover {
    background-color: var(--default-primary-color);
    border-color: transparent;
    color: white;
    /* background-color: var(--success-color); */
    
}

.no-button:hover {
    /* background-color: var(--danger-color); */
}

.cancel-button:hover {
    /* background-color: var(--light-hover-color);
    color: var(--secondary-text-color); */
}