.expenses-list {
    /* grid-row: 2; */
}

.expenses-list__title {
    text-align: start;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 2px solid var(--divider-color);   
}

.expenses-list__title > :not(:last-child) {
    margin-right: 1rem;
}

.expense-list__data {
    padding: 0 1rem;
}

.number-input {
    padding: 1rem;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.filters {
    box-shadow: var(--box-shadow-secondary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.filters-non-date {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.filters-non-date :not(:last-child) {
    margin-right: 1rem;
}

.amount-filter {
    margin-right: auto;
}