.house-dashboard {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
}

@media only screen and (max-width: 600px) {
    .house-dashboard {
        flex-direction: column;
    }
}


.house-dashboard__widgets {
    display: flex;
}

.house-dashboard__title {
    font-weight: 500;
    font-size: 2.4rem;
    text-align: left;
    color: var(--secondary-text-color);
}