.my-houses {
    display: flex;
    flex-direction: column;
    margin: 10rem;
    padding: 0 10rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid var(--divider-color);
}

.my-houses-title {
    color: var(--primary-text-color);
    /* text-align: left; */
    /* width: 100%; */
    padding: 1rem;
    align-self: flex-start;
}