.shopping-list {
    
}

.shopping-list__title {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    border-bottom: 2px solid var(--divider-color);
}

.add-item {
    width: max-content;
    justify-self: end;
}

.archive-list-button {
    justify-self: end;
    background: none;
    color: currentColor;
    letter-spacing: 2px;
}

.archive-list-button:hover {
    color: var(--danger-color);
    text-decoration: underline;
}

.display-enter {
    opacity: 0;
  }
  .display-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
  }
  .display-exit {
    opacity: 1;
  }
  .display-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
  }