.shopping-list {
    
}

.shopping-list__title {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    border-bottom: 2px solid var(--divider-color);
}

.add-item {
    width: max-content;
    justify-self: end;
}

.archive-list-button {
    justify-self: end;
    background: none;
    color: currentColor;
    letter-spacing: 2px;
}

.archive-list-button:hover {
    color: var(--danger-color);
    text-decoration: underline;
}

.archive-dialog {
	color: var(--secondary-text-color);
	width: 25rem;
	/* height: 23rem; */
	
}

.archive-dialog__title {
	font-size: 1.8rem;
	margin: 0;
	padding: 1rem 0.4rem;
	border-bottom: 1px solid var(--divider-color);
}

.archive-dialog__options {
	font-size: 1.6rem;
	padding: 2.5rem;
	line-height: 1.5;
}

.archive-dialog__actions {
	display: flex;
	justify-content: space-between;
}

.archive-dialog__actions > * {
	flex: 1;
}

.archive-dialog__actions > :not(:last-child) {
	margin-right: 1rem	;
}

.display-enter {
    opacity: 0;
  }
  .display-enter-active {
    opacity: 1;
    transition: opacity 350ms;
  }
  .display-exit {
    opacity: 1;
  }
  .display-exit-active {
    opacity: 0;
    transition: opacity 350ms;
  }

  @media screen and (max-width: 410px) {
    .archive-list-button {
      justify-self: start;
    }

    .shopping-list__title {
      /* grid-template-columns: min-content, 1fr; */
      display: flex;
      flex-direction: column;
    }

    .shopping-list__title > h3 {
      display: none;
    }

    .shopping-list__item-count {
      display: none;
    }

    
  }