.message-form {
    display: flex;
    align-items: center;
}

.message-form input {
    width: 100%;
}

/* .message-input {
    width: 100%;
} */

.send-button {
    color: var(--dark-primary-color);
    outline: none !important;
    background: none !important;
    border: none !important;
    transform: translateX(-4rem);
    /* transform: rotateX(45deg); */
}

.send-button:disabled {
    color: currentColor;
}