.house-list-item {
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--secondary-text-color);
    display: grid;
    grid-template-columns: max-content 1fr 1fr auto;
    justify-items: start;
    align-items: center;
    gap: 10px;
    transition: background .2s ease-in-out;
}

.house-list-item:hover {
    background-color: var(--light-hover-color);
}

.house-name {
    margin: 0;
    cursor: pointer;
}

.delete-house-button {
    color: currentColor;
}

.delete-house-button:hover {
    color: var(--danger-color);
}