.tasks-list {
    /* grid-column: 2;
    grid-row: 2; */
    
    /* scroll-behavior: smooth; */
}

.task-list__data {
    /* border: 1px solid var(--divider-color); */
    
    width: 100%;
    /* overflow-y: scroll;
    max-height: 100vh; */
    padding: 0 0 2rem 0;
}

table {
    border-spacing: 1rem;
    /* border-collapse: collapse; */
}

tr {
    border-bottom: 1px solid var(--divider-color);
    
}

.tasks-list__title {
    margin: 0;
    text-align: start;
    font-weight: 700;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 4em;
}

.tasks-list__title > :not(:last-child) {
    margin-right: 1rem;
}

.tasks-list__headings {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid var(--divider-color);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    margin: 1rem;
    border-bottom: 1px solid var(--divider-color);
}